<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />

  <logger name="jdbc.sqlonly" level="INFO" />
  <logger name="jdbc.sqltiming" level="OFF" />
  <logger name="jdbc.audit" level="OFF" />
  <logger name="jdbc.resultset" level="OFF" />
  <logger name="jdbc.resultsettable" level="OFF" />
  <logger name="jdbc.connection" level="OFF" />
</configuration>
